* {
  font-family: 'Courier New', Courier;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
	text-align: center;
}

h1 {
	display: inline-block;
	position: relative;
}

h1:after {
	content: attr(data-subtitle);
	position: absolute;
	top: 100%;
	right: 0px;
}

.another span {
	position: absolute;
	top: 100%;
	right: 0px;
  font-size: 1.5rem;
}

#msg {
  margin-top: 3rem;
  font-size: 4rem;
}

.square-one {
  height: 180px;
  width: 180px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.square-zero {
  height: 180px;
  width: 180px;
  border: 1px solid black;
  background-color: rgb(173, 173, 173);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.table {
  display: grid;
  position: relative;
}

.dot {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgb(255, 0, 0);
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
}